body {
    padding: 5px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
}

#navbar {
    background-color: blue;
}
#navbar li {
    display: inline;
}
#navbar ul {
    display: flex;
    justify-content: space-around;
}
#navbar a {
    color: white;
    text-decoration: none;
}

table {
    width: 100%;
    white-space: nowrap;
}

table, th, td {
    border: solid 1px;
    border-collapse: collapse;
}

tr {
    text-align: center;
    min-width: 50px;
}

